#achievement1 {
    animation: swag .5s forwards;
}

#achievement1.gone {
    animation: gone-anim .5s forwards;
}

#redeemedalr {
    animation: swag .5s forwards;
    font-size: 15px;
}

#redeemedalr.gone {
    animation: gone-anim .5s forwards;
}

#codediv.gone {
    animation: gone-anim .5s forwards;
}

#newcode {
    background: #535353;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    margin-left: 45%;
    animation: swag .5s forwards;
}

#newcode h1 {
    color: #ffff;
    text-align: center;
}

#buttoncode {
    margin-top: 20px;
    margin-left: 65px;
}

#codedivc {
    margin-top: 20px;
    margin-left: 71px;
}

#newcode input {
    margin-left: 10px;
}


@keyframes swag {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes gone-anim {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
